body {
  background:#121212;
  font-family: "Roboto Condensed"
}

.game {
  margin: 15px auto 5px auto;
  width:675px;
  min-height: 375px;
  background:white;
  border:1px solid #aaa;
  padding: 10px 25px;
}

h1 {
  text-align:center;
}

.current-number {
  margin:5px auto;
  font-size: 40px;
  width: 125px;
  text-align: center;
  display:block;
}
.game.full .current-number {
  display:none;
}

.your-number {
  margin: 5px auto;
  font-size: 32px;
  width: 245px;
  text-align: center;
}

.label {
  font-size: 14px;
}

.placed-number {
  float:left;
  height: 75px;
  width: 45px;
  line-height:75px;
  background: #ccc;
  border: 1px solid black;
  text-align: center;
}

.placed-number.correct {
  background: #89c489;
}
.placed-number.incorrect {
  background: #c4868c;
}

.blank-placed-number {
  cursor: pointer;
}

.reset, .result {
  width:100%;
  text-align:center;
  clear: left;
  padding: 20px 0;
  cursor: pointer;
  display: none;
}
.game.full .reset, .game.full .result {
  display: block;
}
.reset {
  color: #60628a;
}
.clear {
  clear:left;
}
.footer {
  width:675px;
  text-align:right;
  margin: auto;
  color:#eee;
  font-size:12px;
}
.footer a {
  color: #eee;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .game {
    margin: 8px 4px;
    width: calc(100% - 8px);
    padding: 0;
  }
  h1 {
    font-size:50px;
  }
  .label {
    font-size: 35px;
  }
  .current-number {
    width:100%;
    font-size:65px;
  }
  .your-number {
    width: 100%;
  }
  .placed-number {
    width:calc(20% - 2px);
    height:175px;
    line-height: 175px;
    font-size: 50px;
  }
  .reset, .result {
    font-size: 35px;
  }
  .footer {
    margin: 0 5px;
    width: auto;
  }
}
